<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furnycrew.furnidream.salesmanagement.model.dao.SalesMngMapper">
<!--    <resultMap id="salesDtoMap" type="com.furnycrew.furnidream.salesmanagement.model.dto.SalesMngDailyDtolyDto">-->
    <select id="findTotalSales" resultType="com.furnycrew.furnidream.salesmanagement.model.dto.SalesMngDailyDto">
<!--        <id column="order_code" property="orderCode"/>-->
<!--        <result column="created_at" property="createdAt"/>-->
<!--        <result column="total_price" property="totalPrice"/>-->

<!--                <association property="orderDto" javaType="com.furnycrew.furnidream.order.model.dto.OrderDto">-->
<!--                    <id column="order_code" property="orderCode"/>-->
<!--                    <result column="created_at" property="createdAt"/>-->
<!--                    <result column="total_price" property="totalPrice"/>-->
<!--                </association>-->
<!--        <collection property="orderProductList" ofType="orderProductDto" resultMap="orderProductResultMap"/>-->
<!--&lt;!&ndash;            <id column="order_code" property="orderCode"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <id column="product_id" property="productId"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <result column="quantity" property="quantity"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <result column="price" property="price"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </collection>&ndash;&gt;-->
<!--    </resultMap>-->

<!--        <resultMap id="orderProductResultMap" type="com.furnycrew.furnidream.order.model.dto.OrderProductDto">-->
<!--            <id column="order_code" property="orderCode"/>-->
<!--            <id column="product_id" property="productId"/>-->
<!--            <result column="quantity" property="quantity"/>-->
<!--            <result column="price" property="price"/>-->
<!--        </resultMap>-->


    <select id="findTotalSales" resultType="com.furnycrew.furnidream.salesmanagement.model.dto.SalesMngDailyDto">
        select
            date_format(o.created_at, '%Y-%m-%d') createdAt,
            sum(op.quantity) orderAmount,
            sum(op.quantity * op.price) totalPrice,
            ifnull(sum(oc.refund_amount), 0) refundAmount,
            sum(op.quantity * op.price) - ifnull(sum(oc.refund_amount), 0) totalSales
        from
            tbl_order o left join tbl_order_product op
            on o.order_code = op.order_code

            left join tbl_order_canceled oc
            on op.order_code = oc.order_code
        group by
            date_format(o.created_at, '%Y-%m-%d')
        order by
            createdAt
    </select>

    <select id="findMonthlySales" resultType="com.furnycrew.furnidream.salesmanagement.model.dto.SalesMngMonthlyDto">
        select
            date_format(o.created_at, '%Y-%m') monthly,
            sum(op.quantity) orderAmount,
            sum(op.quantity * op.price) totalPrice,
            ifnull(sum(oc.refund_amount), 0) refundAmount,
            sum(op.quantity * op.price) - ifnull(sum(oc.refund_amount), 0) totalSales
        from
            tbl_order o left join tbl_order_product op
            on o.order_code = op.order_code
            left join tbl_order_canceled oc
            on op.order_code = oc.order_code
        group by
            date_format(o.created_at, '%Y-%m')
        order by
            monthly
    </select>

    <select id = "findQuarterlySales" resultType="com.furnycrew.furnidream.salesmanagement.model.dto.SalesMngQuarterDto">
        select
            concat(date_format(o.created_at, '%Y'), '-',quarter(o.created_at), '분기') dateQuarter,
            sum(op.quantity) orderAmount,
            sum(op.quantity * op.price) totalPrice,
            ifnull(sum(oc.refund_amount), 0) refundAmount,
            sum(op.quantity * op.price) - ifnull(sum(oc.refund_amount), 0) totalSales
        from tbl_order o
            left join tbl_order_product op
            using (order_code)
            left join tbl_order_canceled oc using (order_code)
        group by
            dateQuarter
        order by
            dateQuarter;
    </select>

    <select id = "findSalesByAgeGroup" resultType="com.furnycrew.furnidream.salesmanagement.model.dto.SalesStatisticsByAgeDto">
        <![CDATA[
        SELECT
            p.product_name productName,
            format(SUM(CASE WHEN c.age >= 20 AND c.age < 25 THEN o.total_price ELSE 0 END), 0) AS teenager,
            format(SUM(CASE WHEN c.age >= 25 AND c.age < 30 THEN o.total_price ELSE 0 END), 0) AS twenties,
            format(SUM(CASE WHEN c.age >= 30 AND c.age < 35 THEN o.total_price ELSE 0 END), 0) AS thirties,
            format(SUM(CASE WHEN c.age >= 35 AND c.age < 40 THEN o.total_price ELSE 0 END), 0) AS forties,
            format(SUM(CASE WHEN c.age >= 40 AND c.age < 45 THEN o.total_price ELSE 0 END), 0) AS fifties,
            SUM(o.total_price) AS totalSales
        FROM
            tbl_order o
            left join tbl_customer c ON o.customer_id = c.customer_id
            right join tbl_order_product op ON o.order_code = op.order_code
            left join tbl_product p ON op.product_id = p.product_id
        GROUP BY
            p.product_name
        ORDER BY
            p.product_name
        ]]>
    </select>

<!--    <select id = "findSalesByGender" resultType="com.furnycrew.furnidream.salesmanagement.model.dto.SalsesStatisticsByGenderDto">-->

<!--    </select>-->
<!-- 
    <select id = "findQuarterlySales" resultType="com.furnycrew.furnidream.salesmanagement.model.dto.SalesMngQuarterDto">
        select
            concat(date_format(o.created_at, '%Y'), '-',quarter(o.created_at), '분기') dateQuarter,
            sum(op.quantity) orderAmount,
            sum(op.quantity * op.price) totalPrice,
            ifnull(sum(oc.refund_amount), 0) refundAmount,
            sum(op.quantity * op.price) - ifnull(sum(oc.refund_amount), 0) totalSales
        from tbl_order o
            left join tbl_order_product op
            using (order_code)
            left join tbl_order_canceled oc using (order_code)
        group by
            dateQuarter
        order by
            dateQuarter;
    </select> -->

<!--    <select id = "findSalesByGender" resultType="com.furnycrew.furnidream.salesmanagement.model.dto.SalsesStatisticsByGenderDto">-->

<!--    </select>-->

</mapper>
