<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" th:fragment="styles" />
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">메뉴 조회</title>

</head>
<body >
<main layout:fragment="main" class="container">
    <button th:href="@{/salesStatistics/totalSalesList}"><h3>일자별 매출 내역</h3></button>
    <button th:href="@{/salesStatistics/totalMonthlySales}"><h3>월별 매출 내역</h3></button>
    <button th:href="@{/salesStatistics/totalSalesList}"><h3>분기별 매출 내역</h3></button>
    <table class="table"> <!--/* 표형식으로 구조화되어 보여준다. */-->
        <thead>
        <tr>
            <th>주문 일자</th>
            <th>주문 건수(건)</th>
            <th>결제 합계(원)</th>
            <th>환불 합계(원)</th>
            <th>매출 합계(원)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="salesMngDailyDto : ${salesMngDailyDtoLists}"> <!-- salesMngDailyDtoLists = model.addAttribute에서의 attributeName -->
            <td th:text="${salesMngDailyDto.createdAt}"></td>
            <td th:text="${salesMngDailyDto.orderAmount}"></td>
            <td th:text="${#numbers.formatInteger(salesMngDailyDto.totalPrice, 3, 'COMMA')}"></td>
            <td th:text="${#numbers.formatInteger(salesMngDailyDto.refundAmount, 3, 'COMMA')}"></td>
            <td th:text="${#numbers.formatInteger(salesMngDailyDto.totalSales, 3, 'COMMA')}"></td>
        </tr>
        </tbody>
    </table>
</main>

<script th:src="@{/js/script.js}">
</script>
</script>
</body>
</html>
