<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" th:fragment="styles" />
    <title>Index</title>
</head>
<body >
<main layout:fragment="main">
    <form th:action="@{/admin/login}" method="post">
        ID : <input type="text" name="adminId"><br>
        PW : <input type="password" name="adminPw"><br>
        <input type="submit" value="로그인">
    </form>
</main>

<script layout:fragment="script">
</script>
</body>
</html>
