<!DOCTYPE html>
<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 검색</title>
    <link rel="stylesheet" th:fragment="styles" th:href="@{/css/styles.css}" type="text/css"/>
    <style>
        .table tbody tr {
            cursor: pointer;
        }
    </style>
</head>
<body>
<main class="ms-4 mt-4 me-4" layout:fragment="main">
    <div class="card mb-4 m-0 shadow">
        <div class="card-header text-center"><h2>상품 검색</h2></div>
        <div class="mt-2 px-4 ms-3 me-3 ">
            <div class="border border-secondary mt-3 p-3 rounded shadow-sm">
                <table class="table me-5 table-hover">
                    <thead>
                    <tr class="table-primary">
                        <th scope="col">상품코드</th>
                        <th scope="col">상품명</th>
                        <th scope="col">카테고리</th>
                        <th scope="col">판매가</th>
                        <th scope="col">재고</th>
                        <th scope="col">상품상태</th>
                        <th scope="col">옵션(color/size)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product, stat : ${products}" th:object="${product}"
                        th:tbl_href="@{|/product/detail/*{productId}|}">
                        <td><a th:text="*{productCode}"></a></td>
                        <td><a th:text="*{productName}"></a></td>
                        <td><a th:text="*{category}"></a></td>
                        <td><a th:text="*{#numbers.formatInteger(retailPrice, 3, 'COMMA')}"></a></td>
                        <td><a th:text="*{stock}"></a></td>
                        <td><a th:text="*{productStatus}"></a></td>
                        <td>
                            <span><a th:text="*{color}"></a></span>
                            <span><a th:text="*{size}"></a></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--    <button type="button" class="btn btn-primary" onclick="window.location.href='/product/regist'">상품 등록</button>-->
            <button class="btn btn-primary fs-4 mt-3 d-grid gap-2 col-2 mx-auto mb-3" th:onclick="|window.location.href='/app/product/regist'|">상품 등록</button>
            <p th:if="${products == null}" class="text-danger fs-2 text-center">No store data available.</p>
        </div>
    </div>
</main>
<script layout:fragment="script">
    document.addEventListener('DOMContentLoaded', function () {
        const $rows = document.querySelectorAll('table tbody tr');
        $rows.forEach(function (row) {
            row.addEventListener('click', function () {
                console.log(row.getAttribute('tbl_href'));
                window.location.href = row.getAttribute('tbl_href');
            });
        });
    });
</script>
</body>
</html>