<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>


<body class="sb-nav-fixed">

<aside th:fragment="asideFragment">
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
<!--            <nav class="sb-sidenav accordion sb-sidenav-dark" style="background-color: #865d36" id="sidenavAccordion">-->
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <!-- 상점 메뉴 -->
                        <div class="sb-sidenav-menu-heading">Store</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseStore" aria-expanded="false" aria-controls="collapseStore">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            상점 관리
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseStore" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/app/store/list">상점 조회</a>
                                <a class="nav-link" href="/app/store/regist">상점 등록</a>
                                <a class="nav-link" href="/app/store/modify">상점 수정</a>
                            </nav>
                        </div>

                        <!-- 상품 메뉴 -->
                        <div class="sb-sidenav-menu-heading">Product</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProduct" aria-expanded="false" aria-controls="collapseProduct">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            상품 관리
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseProduct" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/app/product/list">상품 조회</a>
                                <a class="nav-link" href="/app/product/regist">상품 등록</a>
                            </nav>
                        </div>

                        <!-- 주문 메뉴 -->
                        <div class="sb-sidenav-menu-heading">Order</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOrder" aria-expanded="false" aria-controls="collapseOrder">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            주문 관리
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseOrder" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/app/statistics/order/status">주문 상태</a>
                                <a class="nav-link" href="/app/order/list">주문 조회</a>
<!--                                <a class="nav-link" href="/app">주문 검색</a>-->
                            </nav>
                        </div>

                        <!-- 통계 메뉴 -->
                        <div class="sb-sidenav-menu-heading">Statistics</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseStatistics" aria-expanded="false" aria-controls="collapseStatistics">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                            통계
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseStatistics" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" th:href="@{/salesStatistics/totalSalesList}">기간별 매출</a>
                                <a class="nav-link" href="/app/statistics/order/sales">연도별 매출</a>
                                <a class="nav-link" th:href="@{/salesStatistics/totalSalesByProduct}">상품별 매출</a>
                                <a class="nav-link" th:href="@{/salesStatistics/salesByAge}">연령별 매출</a>
                                <a class="nav-link" href="/app/statistics/order/count-ranking/all">주문량 순위</a>
                                <a class="nav-link" href="/app/statistics/order/net-profit-ranking/all">순수익 순위</a>
                            </nav>
                        </div>

                        <!-- 1:1 문의 메뉴 -->
                        <div class="sb-sidenav-menu-heading">Inquiry</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInquiry" aria-expanded="false" aria-controls="collapseInquiry">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            1:1 문의 관리
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseInquiry" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/app/inquiry/list">1:1 문의 조회</a>
                            </nav>
                        </div>
                    </div>
                </div>

<!--                <div class="sb-sidenav-footer" style="background-color: #865d36">-->
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    furnnycrew
                </div>
            </nav>
        </div>
<!--        <div id="layoutSidenav_content" style="background-color: #a69080">-->
        <div id="layoutSidenav_content" style="background-color: #F4F3EA">
            <main layout:fragment="main">
                <!-- 각 페이지에서 작성한 layout:fragment="main"으로 대체됩니다. -->
                <div class="container-fluid px-4">
                    <h1>본문 입니다</h1>
                </div>
            </main>
            <!--/* 페이지 번호 설정부 */-->
            <nav th:if="${pageCriteria != null}" th:object="${pageCriteria}" aria-label="Page navigation example">
                <!--    [[${pageCriteria}]]-->
                <ul class="pagination justify-content-center">
                    <!--/* 이전 영역 */-->
                    <li th:class="|page-item *{pagebarStart == 1 ? 'disabled' : ''}|">
                        <a class="page-link" th:href="|*{url}*{pagebarStart - 1}|">&lt;</a>
                    </li>
                    <!--/* 페이지숫자 영역 */-->
                    <!--/* th:each에는 break 기능이 없다.*/-->
                    <th:block th:each="pageNo : *{#numbers.sequence(pagebarStart, pagebarEnd)}">
                        <li th:if="${pageNo <= pageCriteria.maxPage}" th:class="|page-item ${pageCriteria.page == pageNo ? 'active' : ''}|">
                            <a class="page-link" th:href="|*{url}${pageNo}|" th:text="${pageNo}"></a>
                        </li>
                    </th:block>
                    <!--/* 다음 영역 */-->
                    <li th:class="|page-item *{pagebarEnd > maxPage ? 'disabled' : ''}|">
                        <a class="page-link" th:href="|*{url}*{pagebarEnd + 1}|">&gt;</a>
                    </li>
                </ul>
            </nav>
<!--            <footer th:replace="~{/fragments/footer::footerFragment}"></footer>-->
        </div>
    </div>
</aside>

</body>
</html>