<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" th:fragment="styles" />
    <title>1:1문의</title>
    <style>
        .table tbody tr {
            cursor: pointer;
        }
    </style>
</head>
<body >
<main layout:fragment="main">
    <div class="container ms-5 mt-5">
        <h1>1:1 문의</h1><br>
<!--        시작-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="home-tab" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true" onclick="location.href='/app/inquiry/list'">전체</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pending-tab" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" onclick="location.href='/app/inquiry/list?viewType=Pending'">대기중</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="answered-tab" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false" onclick="location.href='/app/inquiry/list?viewType=Answered'">답변완료</button>
            </li>
        </ul>
<!--        끝-->

        <table class="table table-hover">
            <thead>
            <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">주문자 이름</th>
                <th scope="col">제목</th>
                <th scope="col">작성시각</th>
                <th scope="col">상태</th>
            </tr>
            </thead>
            <tbody th:each="inquiry, stat : ${inquiries}" th:object="${inquiry}">
            <tr class="table" th:tbl_href="@{|/inquiry/detail/*{inquiryId}|}">
                <th scope="row" th:text="${stat.index+1}"></th>
                <td><a th:text="*{name}"></a></td>
                <td><a th:text="*{title}"></a></td>
                <td><a th:text="*{createdAt}"></a></td>
                <td><span class="badge " th:classappend="${inquiry.status == 'Pending'} ? 'text-bg-warning' : 'text-bg-success' " th:text="${inquiry.status}">Status</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<script layout:fragment="script">

    document.addEventListener('DOMContentLoaded', function () {
        const $rows = document.querySelectorAll('table tbody tr');
        $rows.forEach(function (row) {
            row.addEventListener('click', function () {
                console.log(row.getAttribute('tbl_href'));
                window.location.href = row.getAttribute('tbl_href');
            });
        });
    });

</script>
</body>
</html>
