<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furnycrew.furnidream.statistics.model.dao.OrderNetProfitRankingMapper">

    <resultMap id="OrderNetProfitRankingMap" type="OrderNetProfitRankingDto" >
        <result column="product_code" property="productCode"/>
        <result column="product_name" property="name"/>
        <result column="net_profit" property="netProfit"/>
        <result column="category" property="category"/>
    </resultMap>


    <select id="calculateOrderNetProfitRankingByAllPeriod" resultMap="OrderNetProfitRankingMap" >
        select product_code, product_name, category, SUM(o.net_profit) net_profit
        from (select product_id, SUM((price-cost_price)*quantity) net_profit
        from tbl_order_product
        where order_code in (select order_code
        from tbl_order
        where order_status = 5)
        group by product_id) o
        JOIN tbl_product p on o.product_id = p.product_id
        group by p.product_code, product_name, category
        order by net_profit desc;
    </select>

    <select id="calculateOrderNetProfitRankingByQuarterPeriod" resultMap="OrderNetProfitRankingMap" >
        select product_code, product_name, category, SUM(o.net_profit) net_profit
        from (select product_id, SUM((price-cost_price)*quantity) net_profit
        from tbl_order_product
        where order_code in (select order_code
        from tbl_order
        where order_status = 5
        and YEAR(created_at) = #{year}
        and QUARTER(created_at)= #{quarter})
        group by product_id) o
        JOIN tbl_product p on o.product_id = p.product_id
        group by p.product_code, product_name, category
        order by net_profit desc;
    </select>

    <select id="calculateOrderNetProfitRankingByMonthPeriod" resultMap="OrderNetProfitRankingMap">
        select product_code, product_name, category, SUM(o.net_profit) net_profit
        from (select product_id, SUM((price-cost_price)*quantity) net_profit
        from tbl_order_product
        where order_code in (select order_code
        from tbl_order
        where order_status = 5
        and YEAR(created_at) = #{year}
        and MONTH(created_at)= #{month})
        group by product_id) o
        JOIN tbl_product p on o.product_id = p.product_id
        group by p.product_code, product_name, category
        order by net_profit desc;
    </select>

    <select id="calculateOrderNetProfitRankingByCategoryAndAllPeriod" resultMap="OrderNetProfitRankingMap">
        select product_code, product_name, category, SUM(o.net_profit) net_profit
        from (select product_id, SUM((price - cost_price) * quantity) net_profit
        from tbl_order_product
        where order_code in (select order_code
        from tbl_order
        where order_status = 5)
        group by product_id) o
        JOIN (select * from tbl_product where category = #{category}) p on o.product_id = p.product_id
        group by p.product_code, product_name, category
        order by net_profit desc;

    </select>


</mapper>